<h1>These are the trails you have hiked</h1>

<% @user.trails.each do |trail|%>

            <p class="trail-name"><%= link_to trail.name, trail %></p>

<% end %>

<h1>These are the trails you want to hike</h1>

<% @user.lists.each do |list|  %>


        <p><%= link_to list.trail.name, list.trail %></p>
        <p><%= form_for list, method: :delete do |f|%></p>
        <p><%= f.submit "Remove Trail From List" %></p>
        <% end %>

<% end %>
